<div class="rollup flex-inline flex-wrap align-start fill-white border-radius center position-relative" data-controller="rollup">
  <%# Template Dependency: events/actions/* %>
  <%= render rollup.events, cache: true %>
</div>
