/* https://nerdy.dev/open-and-close-transitions-for-the-details-element */

.expander {
  --expander-height: calc(1em + 1lh);
  --expander-width: 11ch;
  --expander-radius: calc(var(--expander-height) / 2);
  --expander-duration: 350ms;

  interpolate-size: allow-keywords;
  position: relative;
  z-index: 1;
}

.expander__button {
  --btn-border-radius: var(--expander-radius);

  align-items: center;
  block-size: var(--expander-height);
  cursor: pointer;
  display: flex;
  inline-size: var(--expander-width);
  padding-inline: 1.5ch;
  position: relative;
  white-space: nowrap;
  z-index: 1;

  .icon {
    font-size: 1ch;
  }
}

.expander__content {
  --btn-border-radius: var(--expander-radius);

  border-radius: var(--expander-radius);
  padding-block-start: var(--expander-height);
}

@supports selector(details::details-content) {
  .expander::details-content {
    --btn-border-radius: var(--expander-radius);

    block-size: var(--expander-height);
    border-radius: var(--expander-radius);
    inline-size: var(--expander-width);
    inset: 0 auto auto 0;
    min-inline-size: var(--expander-width);
    overflow: clip;
    position: absolute;
    transition: content-visibility var(--expander-duration) allow-discrete, block-size var(--expander-duration), inline-size var(--expander-duration);
  }

  .expander[open]::details-content {
    block-size: auto;
    inline-size: auto;
  }
}

@supports not selector(details::details-content) {
  .expander__content {
    border-radius: var(--expander-radius);
    inset: 0 auto auto 0;
    min-inline-size: var(--expander-width);
    position: absolute;

    [open] & {
      block-size: auto;
      inline-size: auto;
    }
  }
}

.expander__item {
  white-space: nowrap;
}
